.css {
  border: 2px solid black;

  .h2 {
    border: 2px solid crimson;
    color: red;
  }

  &.css > :nth-child(2) {
    border: 2px solid green;
    color: green;
  }

  &.css :nth-child(3) {
    border: 2px solid yellow;
    color: yellow;
  }

  &.css > div {
    border: 2px solid green;

    &.css > ul {
      border: 2px solid yellow;
      color: yellow;
    }
  }

  &.css > div > ul > li {
    border: 2px solid green;
  }
}
